extends layout

block content
  div(class='container')
    div(class='col-md-3 parking-car parking-car-border-l')
      img(src='/images/parking-128.png' , alt='some image')
    div(class='col-md-3 parking-car')
      img(src='/images/parking-128.png' , alt='some image')
    div(class='col-md-3 parking-car')
      img(src='/images/parking-128.png' , alt='some image')
    div(class='col-md-12')

    div(class='col-md-3')
      img(src='/images/arrow-turn-128.png' , alt='some image')
    div(class='col-md-3')
      img(src='/images/arrow-128.png' , alt='some image')
    div(class='col-md-3')
      img(src='/images/arrow-128.png' , alt='some image')
    div(class='col-md-3')
      img(src='/images/arrow-128.png' , alt='some image')

    div(class='col-md-3')
      label(style='font-size:xx-large;') Masuk Area Parkir
    div(class='col-md-3 parking-car parking-car-border-l')
      img(src='/images/parking-128.png' , alt='some image')
    div(class='col-md-3 parking-car')
      img(src='/images/parking-128.png' , alt='some image')
    div(class='col-md-12')
  
  script(src="/javascripts/parking-js.js")